.Products {
    .products__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    @include tablet {

    }
    @include mobile {
        display: block;

    }
}
