.Products {
    .products__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item{
            width: calc(50% - 25px);
            // padding-left: 100px;
            // padding-right: 50px;
            &:first-child{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &:last-child{
                width: calc(50% + 25px);
                height: 330px;
                position: relative;
                overflow: hidden;
                padding-right: 0;
            }
            >img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
            }
            h2{
                position: relative;
                    &:before {
                        content: "";
                        display: block;
                        width: 84px;
                        height: 2px;
                        background-color: $yellow-cl;
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%);
                        left: -100px;
                    }
            }
        }
    }

    .products__reverse{
        flex-direction: row-reverse;
    }
    @include tablet {

    }
    @include mobile {
        display: block;

    }
}
