/* slide  */
.slider {
    position: relative;
    max-height: 800px;
    overflow: hidden;
    &__images {
        position: relative;
        &-item{
            width: 100%;
            height: 100%;
            .slider__text{
                position: absolute;
                top: 50%;
                left: 50%;
                /* z-index: 2; */
                transform: translate(-50%, -50%);
                /* font-size: 40px;  */
                letter-spacing: 4px;
                text-align: center;
                h2 {
                    color: $yellow-cl;
                    font-size: 100px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                a{
                    .icon {
                        width: 24px;
                        margin-left: 15px;
                    }
                }
            } 
        }

    }
    .slider__bottom {
        position: absolute;
        bottom: 20px;
        /* left: 0; */
        width: 100%;

        .container-fluid{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .paging {
            display: flex;
            align-items: center;
            span {
                font-size: 43.81px;
                color: #bea67c;
            }
            &::before{
                content: "";
                width: 42px;
                height: 4px;
                background: #bea67c;
                margin-right: 14px;
                display: block;
            }
            .list {
                display: flex;
                li {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #bea67c;
                    opacity: 0.4;
                    margin: 0 8px;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover, &.active{
                        opacity: 1;
                        @include transition(0.5s);
                    }
                }
            }

        }
        .mouse {
            width: 30px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(50%);
            &_image {
                margin-bottom: 30px;
            }
        }
        .control {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(-10%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            .control__btn {
                cursor: pointer;
                border: 1px solid $white-cl;
                width: 80px;
                padding: 10px 30px;
                i{
                    display: block;
                }
            }
            .prev {
                background-color: #bea67c;
                // transform: rotate(-180deg) cách để quay ngược mũi tên
            }
            &:hover{
                @include transition(0.3s);
            }
        }


    }

    @include desktop{
        &__images{
            .slider__text{
                text-align: center;
                h2{
                    font-size: 80px;
                }
            }
        }
        .slider__bottom {
            .mouse{
                bottom: 10px;
            }
        }
    }
    @include tablet{
        height: 500px;
        &__images {
            height: 500px;
            &-item{
                max-width: initial;
                min-height: 100%;
                .slider__text{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    /* z-index: 2; */
                    transform: translate(-50%, -50%);
                    /* font-size: 40px;  */
                    letter-spacing: 4px;
                    text-align: center;
                    h2 {
                        color: $yellow-cl;
                        font-size: 100px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
                    a{
                        .icon {
                            width: 24px;
                            margin-left: 15px;
                        }
                    }
                } 
            }

        }
    }
}


/* furniture */

.furniture {
    padding-top: 40px;
    .furniture_content {
        display: flex;
        text-align: center;
        justify-content: space-between;
        .furniture_item, {
            .bnt_learnMore{               
                .icon{
                    width:20px;
                    margin-left: 15px;
                    img{
                        width: 20px;
                        color: $yellow-cl;
                    }
                }
            
            }
        }
    }
    .decor_content {
        display: flex;
        text-align: center;
        justify-content: space-around;
        .decor_item {
             .bnt_learnMore{               
                .icon{
                    width:20px;
                    margin-left: 15px;
                    img{
                        width: 20px;
                        color: $yellow-cl;
                    }
                }
            
            }
        }
    }
}


/* quality  */

.quality {
    text-align: center;
}

.quality h2::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #bea67c;
    position: absolute;
}

.quality_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality_image {
    position: relative;
    margin: 7px 68px;
    width: 226px;
    height: 226px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 13px;
}

.quality_item img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid grey;
}

.quality_item i {
    display: block;
    border-radius: 50%;
    background-color: #bea67c;
    position: absolute;
    top: 50%;
    left: 50%;
    color: $white-cl;
    padding: 10px;
    transform: translate(-50%, -50%);
}

// .quality_image i img{
//     display: block;
//     width: 10px;
//     height: 10px;
// }
.quality_item a:hover i {
    color: $black-cl;
}

.quality_image::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #bea67c;
}


/* design  */

.design {
    background: url(../img/banner-video.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}

.design_content {
    padding: 50px 0;
    width: 50%;
}

.design_content h2 {
    color: #bea67c;
}

.design_content p {
    color: $white-cl;
}


/* about  */

.about {
    padding: 50px 0;
    .about_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .about_item {
            margin-right: 60px;
            position: relative;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
            h2::before {
                content: "";
                width: 70px;
                height: 4px;
                position: absolute;
                left: -25%;
                top: 25%;
                transform: translateX(50%);
                background-color: $color-gray-2;
                margin-left: 14px;
                display: block;
            }
            a.bnt_learnMore {
                font-weight: 600;
                i {
                    color: $color-gray-2;
                }
            }
            &::after {
                content: "";
                width: 40px;
                height: 4px;
                position: absolute;
                background-color: $color-gray-2;
                display: block;
            }
        }
    }
}


/* gallery  */

.gallery {
    background-color: $black-cl;
    color: $color-gray-2;
    h2 {
        color: $white-cl;
    }
    .gallery_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .gallery_item {
            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        .item2 {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }
    }
}


/* news  */

.news {
    .news_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 15px;
        .news_item {
            .news_image {
                padding-bottom: 30px;
                img {
                    width: 100%;
                    height: 200px;
                    display: block;
                }
                &::after {
                    content: "";
                    width: 60px;
                    height: 2px;
                    background-color: $yellow-cl;
                    position: absolute;
                    margin-top: 14px;
                    display: block;
                }
            }
            .news_text {
                p:first-child {
                    font-weight: bold;
                    font-size: $fz-text;
                    height: 50px;
                }
                p:last-child {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    padding-top: 10px;
                }
            }
        }
    }
}


/* photo  */

.photo_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    .photo_item img {
        height: 100%;
        width: 100%;
        display: block;
    }
}