.text {
    padding-top: 80px;
    h2 {
        @include text(40px, pb, $lh-text, $text-cl, uppercase);
        position: relative;
        display: inline-flex;
        align-items: center;
        &::before {
            content: "";
            width: 80px;
            height: 2px;
            background: $color-gray-2;
            display: inline-block;
        }
    }
    p {
        padding: 10px 10px 18px 30px;
        color: $color-gray-1;
    }
}