.text {
    padding-left: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h2 {
        @include text(40px, pb, $lh-text, $text-cl, uppercase);
        position: relative;
        // display: inline-flex;
        // align-items: center;
        &::before {
            content: "";
            width: 80px;
            height: 2px;
            background: $color-gray-2;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: -96px;
            transform: translateY(-50%);
        }
    }
    p {
        // padding-right: 30px;
        color: $color-gray-1;
    }
}