/* global  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.container-fluid {
    width: 95%;
    margin: 0 auto;
}

.container {
    width: 70%;
    margin: 30px auto;
}

.hidden {
    display: none;
}

a.bnt_learnMore {
    text-decoration: none;
    color: black;
    /* border: 2px solid #fff; */
    font-size: 20px;
    padding: 16px 52px;
}

.btn {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 16px 52px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.space_section {
    padding: 82px 0;
}

.space_title {
    margin: 24px 0;
}

.space_p {
    margin-bottom: 50px;
}

/* header  */
header {
    background-color: #121314;
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* padding: 20px 0; */
    color: #fff;
    position: relative;
}
.nav ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.nav ul li {
    list-style: none;
    padding: 0 20px;
}
.nav ul li a {
    text-decoration: none;
    color: #fff;
}
.lang .lang__current {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.lang__current img {
    width: 10px;
    margin-left: 5px;
}

/* slide  */

.slider {
    position: relative;
    max-height: 800px;
    overflow: hidden;
}

.slider__images {
    width: 100%;
    height: 800px;
    position: relative;
}

.slider__images-item {
    width: 100%;
    height: 100%;
}
.slider__images img {
    width: 100%;
    height: 100%;
    display: block;
}
.slider__text h2 {
    color: #bea67c;
    font-size: 83.3px;
    font-weight: bold;
    margin-bottom: 20px;
}
.slider__images-item .slider__text {
    position: absolute;
    top: 50%;
    left: 50%;
    /* z-index: 2; */
    transform: translate(-50%, -50%);
    /* font-size: 40px;  */
    letter-spacing: 4px;
    text-align: center;
}
.icon {
    width: 24px;
    margin-left: 15px;
}
.icon img {
    width: 100%;
    height: 100%;
    display: block;
}
.slider__bottom {
    position: absolute;
    bottom: 20px;
    /* left: 0; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider__bottom .paging {
    display: flex;
    align-items: center;
}
.slider__bottom .paging::before {
    content: "";
    width: 42px;
    height: 4px;
    background: #bea67c;
    margin-right: 14px;
    display: block;
}
.slider__bottom .paging span {
    font-size: 43.81px;
    color: #bea67c;
}
.slider__bottom .paging .list {
    display: flex;
}
.slider__bottom .paging .list li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #bea67c;
    opacity: 0.4;
    margin: 0 8px;
    cursor: pointer;
    transition: all 0.5s;
}
.paging .list li.active,.paging .list li:hover {
    opacity: 1;
}
.slider__bottom .mouse {
    /* width: 30px;
    height: 30px; */
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(50%);
}
.slider__bottom .mouse_image{
    margin-bottom: 30px;
}
.slider__bottom .mouse img {
    width: 100%;
    height: 100%;
    display: block;
}
.slider__bottom .control {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: flex;
}
.control__btn img {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    padding: 10px 20px;
}

/* furniture */

.furniture_content {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.fur_image img {
    width: 100%;
    height: 100%;
    display: block;
}


/* quality  */

.quality {
    text-align: center;
}

.quality h2::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #bea67c;
}

.quality_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality_image {
    position: relative;
    margin: 7px 68px;
    width: 226px;
    height: 226px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 13px;
}

.quality_item img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid grey;
}

.quality_item i {
    display: block;
    border-radius: 50%;
    background-color: #bea67c;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    padding: 10px;
    transform: translate(-50%, -50%);
}

.quality_item a:hover i {
    color: #121314;
}

.quality_image::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #bea67c;
}


/* design  */

.design {
    background: url(../img/banner-video.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}

.design_content {
    padding: 50px 0;
    width: 50%;
}

.design_content h2 {
    color: #bea67c;
}

.design_content p {
    color: #fff;
}


/* about  */

.about_content {
    display: flex;
}

.about_item img {
    display: block;
    width: 100%;
    height: 100%;
}


/* gallery  */

.gallery {
    background-color: #121314;
    color: #fff;
}

.gallery_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery_item img {
    width: 100%;
    height: 100%;
    display: block;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}


/* news  */

.news_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 30px;
}

.news_image img {
    width: 100%;
    height: 100%;
    display: block;
}


/* photo  */

.photo_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo_item img {
    display: block;
    height: 100%;
    width: 100%;
}

.photo2 {
    /* flex-basis: 500px; */
}


/* footer  */

footer {
    background-color: #121314;
    padding: 10px 0;
}

footer .footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}