/* global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.container-fluid {
    width: 95%;
    margin: 0 auto;
}
.container{
    width: 70%;
    margin: 30px auto;
}

.hidden {
    display: none;
}
a.bnt_learnMore  {
    text-decoration: none;
    color: black;
    /* border: 2px solid #fff; */
    font-size: 20px;
    padding: 16px 52px;
}
a.btn {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    /* padding: 16px 52px; */
    padding: 16px 32px;
    display: flex;
}

/* header  */

header {
    background-color: #121314;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
    position: relative;
}

.nav ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav ul li {
    list-style: none;
    display: inline;
    padding: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
}

.nav .lang__current {
    color: #fff;
}

/* slide  */
.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider__images {
    width: 100%;
    height: 100%;
}

.slider__images-item {
    width: 100%;
    height: 100%;
}

.slider__images img {
    width: 100%;
    height: 100%;
}

.icon {
    width: 24px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.slider__images-item .text {
    color: #bea67c;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
}

.text h2 {
    margin-bottom: 20px;
}

.text a.btn {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 16px 52px;
    display: flex;
}

.slider__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
 } 

.paging {
    display: flex;
    align-items: center;
}

.paging span {
    font-size: 43.81px;
    color: #bea67c;
}

.paging .list {
    display: flex;
}

.paging .list li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #303030;
    margin: 0 8px;
}

.paging .list li:first-child {
    background-color: #bea67c;
}

.paging::before {
    content: "";
    width: 42px;
    height: 4px;
    background: #bea67c;
    margin-right: 14px;
}
.slider__bottom .mouse {
    width: 30px;    
    height: 30px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slider__bottom .mouse img {
    width: 100%;    
}
.slider__bottom .control {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: flex;
}
 .control__btn img {
    width: 100%;
    border: 1px solid #fff;
    padding: 10px 20px ;
    
}

/* furniture */
.furniture_content{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.fur_image {
    width: 200px;
}
.fur_image img {
    width: 100%;
}

/* quality  */
.quality_content {
    display: flex;
    justify-content: space-around;
}
.quality_item{
    width: 100px;
    height: 100px;
    position: relative;
}
.quality_item img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.quality_item i {
    display: block;
    border-radius: 50%;
    background-color: #bea67c;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    padding: 10px;
    transform: translate(-50%,-50%);

}
.quality_item a:hover {
    color: #121314;
}

/* design  */
.design {
    background: url(../img/banner-video.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}
.design_content {
    padding: 50px 0;
    width: 50%;
}
.design_content h2{
    color: #bea67c;
}
.design_content p{
    color: #fff;
}

/* about  */
.about_content {
    display: flex;

}
.about_item img {
    display: block;
    width: 100%;
}

/* gallery  */
.gallery_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
