a.bnt_learnMore {
    text-decoration: none;
    color: black;
    /* border: 2px solid #fff; */
    font-size: 20px;
    padding: 16px 52px;
}

.btn {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 16px 52px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s;
    /* position: relative; */
}
/* .btn:after{
    content: "";
    width: 100%;
} */
.btn:hover:after{
    transform: translateX(-0%);
    transition: 0.3s;
}
.btn:hover {
    color: #121314;
    background-color: #fff;
    border: 2px solid #121212;
    transition: all 0.4s;
}