* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

html,
body {
    width: 100%;
    max-width: $max-width;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    @include text($fz-text, pr, $lh-text, $text-cl, none);
    background: $white-cl;
    position: relative;
    // @include custom-scrollbar();
    --pdSec: 82px;
    .mainwrapper {
        width: 100%;
        margin: auto;
        overflow: hidden;
        .space_section {
            padding: var(--pdSec) 0;
        }
    }
    @include desktop {}
    @include tablet {
                --pdSec: 70px;
    }
    @include mobile {
        --pdSec: 60px;
    }
}